---
import PageFlip from "../assets/sounds/page-flip-4.mp3";

interface Props {
	download: string;
}

const { download } = Astro.props

---

<div id="canvas">
    
    <div class="zoom-icon zoom-icon-in"></div>
    <div class="wrapper">
        <div class="aspect">
            <div class="aspect-inner">
                <div class="magazine-viewport">
                    <div class="container">
                        <div class="magazine">
                           <!-- Next button -->
                            <div ignore="1" class="next-button next-button-hover"></div>
                            <!-- Previous button -->
                            <div ignore="1" class="previous-button previous-button-hover"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="share-print">
    <!-- <a href="/">
        <i class="fa-solid fa-house"></i>
    </a> -->
    <a target="_blank" href={download}>
        <i class="fa-solid fa-print"></i>
    </a>
    <button id="copyButton" class="view-modal">
        <i class="fas fa-solid fa-share"></i>
    </button>
</div>
<div class="pop-up-overlay"></div>
<div class="popup">
    <header>
        <div class="close"><i class="fa-solid fa-x"></i></div>
    </header>
    <div class="content">
        <div class="field">
            <p id="url-copy"></p>
            <p class="copied">copied</p>
        </div>
    </div>
</div>

<audio id="audio" class="audio">
    <source src={PageFlip} type="audio/mpeg">
</audio>

<div class="mobile-canvas container py-5 m-auto">
    <div id="imageContainer"></div>
</div>