@use "./app.scss" as *;

textarea {
    border: none;
}

.ai-page-header {
    p {
        @include sm-desktop {
            font-size: 13px;
        }
    }
}

.ai-options {
    @include md-desktop {
        font-size: 15px;
    }

    @include sm-desktop {
        font-size: 10px;
    }
}

.ai-select {

    .ai-select-btn {
        width: 100%;
        background-color: #56565652;
        padding: 16px;
        border-radius: 8px;
        color: white;
        font-weight: 600;
        border: none;
        transition: 0.3s ease;

        &:hover {
            background-color: #006600;
            color: white;
            transform: translateY(-1px);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        }
    }
}

.ai-submit-btn {
    background-color: white;
    color: black;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 600;
    transition: 0.3s ease;

    &:hover {
        background-color: #006600;
        color: white;
        transform: translateY(-1px);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    }
}

.prompt-cards {
    // background-color: #56565652;
    border-radius: 12px;
    padding: 1.5rem;
    margin-top: 2rem;
    // box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);

    h2 {
        @include sm-desktop {
            font-size: 20px;
        }
    }

    p {
        @include sm-desktop {
            font-size: 13px;
        }
    }

    .response-output-container {
        background-color: white;
        font-size: 12px;
        position: relative;
        color: black;
        min-height: 50px;

        button {
            background: none;
            border: none;
            color: black;
        }
    }
}

.copied {
    background-color: rgba(0, 0, 0, 0.4117647059);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 0;
    display: grid;
    place-content: center;
    visibility: hidden;
    transition: visibility 0.2s;
    z-index: 100;

    p {
        background-color: white;
        color: black;
        padding: 5px;
        margin: 0;
    }
}