/*
*******
None of these variable are being imported anywhere, they're just here for your convenience.
*******
*/

@use "./animation.scss" as *;
// @use "./ai-assistant.scss" as *;


body {
  margin: 0;
}

// Some Style Variables
$primary-color: #36465f;
$secondary-color: #464646;
$error: #de3535;
$success: #d5f5d7;
$c_0: #000000;
$c_1: #353540;

$max-width: 960px;

// Breakpoints. Use these in your media queries.
$babybear: 321px;
$mamabear: 769px;
$papabear: 1140px;
$monsterbear: 1300px;

$font-size: 16px;
$font-family: Helvetica, sans-serif;
$alt-font-family: monospace;
$font-color: #353535;

/* Social Icons */
$twitter: #78cdf0 !default;
$facebook: #537bbd !default;
$instagram: #517fa4 !default;
$youtube: #d34836 !default;
$snapchat: #fffc00 !default;
$pinterest: #cb2027 !default;
$google: #dd4b39 !default;

/* MIN-WIDTH */

@mixin xl-screen {
    @media (min-width: 1280px) { @content; }
}

@mixin lg-screen {
    @media (min-width: 992px) { @content; }
}

@mixin md-screen {
    @media (min-width: 768px) { @content; }
}

@mixin sm-screen{
    @media (min-width: 576px) { @content; }
}

/* MAX-WIDTH */

@mixin lg-desktop {
    @media (max-width: 1280px) { @content; }
}

@mixin md-desktop {
    @media (max-width: 992px) { @content; }
}

@mixin sm-desktop {
    @media (max-width: 768px) { @content; }
}

@mixin mobile {
    @media (max-width: 576px) { @content; }
}