.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #1a1a1a;
  display: grid;
  place-content: center;

  img {
    margin: auto;
    width: 200px;
    height: auto;
  }
}

.container {
  max-width: 1200px !important;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
  // background-color: rgba(0, 0, 0, 0.3);
  border-radius: 25px;
}

#home {
  background: linear-gradient(135deg, rgb(22, 22, 22), #343334);
  position: relative;
}

body {
  font-family: "poppins", serif;
  min-height: 100vh;
}

.each-book {
  height: 650px;
  border-radius: 15px;

  a {
    text-decoration: none;
    color: white;
  }

  .background-image {
    height: 100%;
    position: relative;
    border-radius: 25px;

    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
      border-radius: 25px;
    }

    .title {
      position: absolute;
      bottom: 50%;
      top: 50%;
      margin: auto;
      left: 0;
      right: 0;
      text-align: center;
      text-transform: capitalize;
      -webkit-text-fill-color: #fff;
      font-family: auto;
      background-color: rgba(0, 0, 0, 0.5490196078);
      height: fit-content;
      width: fit-content;
      padding: 0.3em;
      border-radius: 15px;
    }
  }
}

.each-file {
  height: 420px;
  border-radius: 15px;

  a {
    text-decoration: none;
    color: white;
  }

  .background-image {
    height: 100%;
    position: relative;
    border-radius: 25px;

    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
      border-radius: 25px;
      box-shadow: 0px 0px 8px 1px #0000004f;
    }

    .title {
      position: absolute;
      bottom: 50%;
      top: 50%;
      margin: auto;
      left: 0;
      right: 0;
      text-align: center;
      text-transform: capitalize;
      -webkit-text-fill-color: #fff;
      font-family: auto;
      background-color: rgba(0, 0, 0, 0.5490196078);
      height: fit-content;
      width: fit-content;
      padding: 0.3em;
      border-radius: 15px;
    }
  }
}

.more-round {
  border-radius: 25px;
}

.layout {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;

  &:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 90px;
    width: 10px;
    height: 100%;
    border: 1px solid #fff;
    border-top: none;
    border-bottom: none;
    opacity: 0.15;
  }

  .box {
    position: absolute;
    bottom: 0;
    left: 30px;
    color: #fff;
    transform-origin: 0% 10%;
    transform: rotate(-90deg);
    font-size: 9px;
    line-height: 1.4;
    text-transform: uppercase;
    opacity: 0.4;
  }
}

.logo {
  position: absolute;
  z-index: 2;
  top: 28px;
  right: 28px;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 50%;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Orelo-sw-db", serif;
  pointer-events: all;
  color: black;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  padding-bottom: 0.1em;
}

.social {
  position: absolute;
  z-index: 10;
  bottom: 20px;
  right: 25px;
  color: #fff;
  opacity: 0.4;

  a {
    display: inline-block;
    margin-left: 3px;
  }

  i {
    color: white;
    width: 35px;
    height: 35px;
  }
}

.cursor {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  --size: 40px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: calc(var(--size) * -0.5) 0 0 calc(var(--size) * -0.5);
  transition: transform 0.85s cubic-bezier(0, 0.02, 0, 1);
  display: none;
  pointer-events: none;

  @media (pointer: fine) {
    display: block;
  }
}

.cursor2 {
  --size: 2px;
  transition-duration: 0.7s;
}

.pop-up-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.275);
  z-index: 90;
  opacity: 0;
}

.pop-up-overlay.seen {
  opacity: 1;
  top: 0;
  left: 0;
  position: absolute;
}

::selection {
  color: #fff;
  background: #7d2ae8;
}

.popup {
  position: absolute;
  left: 50%;
  background: #fff;
  padding: 25px;
  border-radius: 15px;
  top: -150%;
  max-width: 500px;
  width: 100%;
  opacity: 0;
  z-index: 99;
  pointer-events: none;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  transform: translate(-50%, -50%) scale(1.2);
  transition: top 0s 0.2s ease-in-out, opacity 0.2s 0s ease-in-out,
    transform 0.2s 0s ease-in-out;
}

.popup.show {
  top: 50%;
  opacity: 1;
  z-index: 99;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: top 0s 0s ease-in-out, opacity 0.2s 0s ease-in-out,
    transform 0.2s 0s ease-in-out;
}

.popup :is(header, .icons, .field) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popup header {
  // padding-bottom: 15px;
  // border-bottom: 1px solid #ebedf9;
}

header span {
  font-size: 21px;
  font-weight: 600;
}

header .close,
.icons a {
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

header .close {
  color: #878787;
  font-size: 17px;
  background: #f2f3fb;
  height: 33px;
  width: 33px;
  cursor: pointer;
  position: absolute;
  top: -1em;
  right: -1em;
}

header .close:hover {
  background: #ebedf9;
}

.popup .content {
  // margin: 20px 0;
}

.popup .icons {
  margin: 15px 0 20px 0;
}

.content p {
  font-size: 16px;
  margin-bottom: 0em;
}

.content .icons a {
  height: 50px;
  width: 50px;
  font-size: 20px;
  text-decoration: none;
  border: 1px solid transparent;
}

.content .field {
}

.copied {
  background-color: #343334;
  color: white;
  font-weight: 600;
  font-size: 1.5em;
  padding: 0.5em 1em;
  border-radius: 15px;
}

@media (max-width: 1280px) {
  .layout:before {
    display: none;
  }
}

@media (max-width: 576px) {
  .layout .box {
    position: absolute;
    bottom: 6px;
    left: 30px;
    color: #fff;
    transform-origin: 0% 10%;
    transform: rotate(0deg);
    font-size: 9px;
    line-height: 1.4;
    text-transform: uppercase;
    opacity: 0.4;
  }

  .row {
    flex-direction: column;
    align-items: center;
  }

  .col-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto !important;
    width: 80% !important;
  }

  .each-book .background-image .title {
    font-size: 1.2em;
  }

  .each-book {
    height: 400px;
  }
}
