/* Page Loader */
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-wrapper {
  background: #222;
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
  outline: 0;
}

.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  // svg {
  //   width: 30vh;
  //   height: auto;
  // }
}

// General styles for getting central and sizing

// variables

$primaryColour: #429528;
$dashOffsetStart: 800;
$dashOffsetEnd: 0;

// animation mixins

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }

  @keyframes #{$animationName} {
    @content;
  }
}

@mixin animation(
  $name,
  $delay,
  $duration,
  $iteration,
  $ease,
  $fillmode: forwards
) {
  -webkit-animation: $name $duration $ease $delay $fillmode $iteration;
  animation: $name $duration $ease $delay $fillmode $iteration;
}

// animation mixins

@include keyframes(loading) {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.7);
  }

  100% {
    transform: scale(1);
  }
}

@include keyframes(stroke-draw) {
  from {
    stroke-dashoffset: $dashOffsetStart;
    fill-opacity: 0;
  }

  65% {
    fill-opacity: 1;
  }

  to {
    stroke-dashoffset: $dashOffsetEnd;
    fill-opacity: 1;
  }
}

// svg {
//   @include animation(
//     loading,
//     2.3s,
//     3s,
//     infinite,
//     cubic-bezier(0.785, 0.135, 0.15, 0.86)
//   );
// }

// path {
//   stroke: $primaryColour;
//   fill: $primaryColour;
//   fill-opacity: 0;
//   stroke-width: 0.5;
//   stroke-dasharray: $dashOffsetStart;
//   stroke-dashoffset: $dashOffsetStart;
//   @include animation(stroke-draw, 0s, 3s, 1, ease-in-out);
// }

// #arrow-bottom path {
//   animation-delay: 0.5s;
// }

// #arrow-side path {
//   animation-delay: 1s;
// }
